beautifulsoup4==4.13.4
boto3==1.38.21
botocore==1.38.21
chromadb==1.0.10
langchain==0.3.25
langchain_community==0.3.24
langchain_core==0.3.60
langchain_huggingface==0.2.0
langchain_text_splitters==0.3.8
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
Requests==2.32.3
seaborn==0.13.2
sentence_transformers==4.1.0
streamlit==1.45.1
torch==2.7.0
transformers==4.51.3
